@import "tailwindcss";

@theme {

--color-primaryTitle: #3674B5;
--color-primaryContent: #578FCA;
--color-primaryBg: #F5F0CD;
--color-secondary: #FADA7A;
}

@layer base {
  body {
    margin: 0;
    @apply bg-primaryBg;
    @apply text-primaryContent;
  }

}

@custom-variant hover (&:hover);


